<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filtered Patients</title>
    <link rel="stylesheet" href="/Styles/output.css" />
  </head>
  <body class="bg-gray-100 min-h-screen">
    <div class="container mx-auto p-8">
      <!-- Title and Back Button -->
      <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold text-primary">Filtered Patients</h1>
        <a href="/" class="text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-md">
          Back to Home
        </a>
      </div>
      
      <table class="min-w-full bg-white">
        <thead>
          <tr>
            <th class="py-2 text-center">Name</th>
            <th class="py-2 text-center">Age</th>
            <th class="py-2 text-center">Gender</th>
            <th class="py-2 text-center">Blood Type</th>
            <th class="py-2 text-center">Contact</th>
          </tr>
        </thead>
        <tbody>
          <% patients.forEach(patient => { %>
          <tr>
            <td class="border px-4 py-2 text-center">
              <%= patient.firstName %> <%= patient.lastName %>
            </td>
            <td class="border px-4 py-2 text-center"><%= patient.age %></td>
            <td class="border px-4 py-2 text-center"><%= patient.gender %></td>
            <td class="border px-4 py-2 text-center">
              <%= patient.bloodType %>
            </td>
            <td class="border px-4 py-2 text-center">
              <%= patient.phoneNumber %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
